/*div{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,0.5);                    /*1 = visible COLOR  0= hidden 0.5 blur     Alpha*/
/* } 

#om{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,0.5);
    opacity: 0.5;                                                /*1 = visible ELEMENT DIV H1  0= hidden 0.5 blur opacity*/                          
/* } */

div{
    height: 200px;
    width: 200px;
    background-color: pink;
    /* transition: 1s;
    transition-delay: 1s;                                            delay the transation of div for 1sec.         */
    margin: 0 auto;                                                 /* center the */
    transition:  margin-top 2s ease-in 0.2s ;
    transition-timing-function: 2s;
    transition-timing-function: ease-in;
    transition-delay:0.2s ;

}
div:hover{
    background-color: green;
    border-radius: 50%;                                         /*div create as round */
    margin-top: 400px;
} 