#container{
    height: 300px;
    width: 50%;
    background-color: white;
    margin: 10px auto;                          /* auto menas center here*/
    border: 2px solid black;
    display: flex;                              /* Use for arrange all div in one parent div element & By default div arrange as row not in coloun */
    flex-direction: row ;                     /* Change flex direction form row to colum*/
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#container1{
    height: 300px;
    width: 50%;
    background-color: white;
    margin: 10px auto;                          /* auto menas center here*/
    border: 2px solid black;
    display: flex;                              /* Use for arrange all div in one parent div element & By default div arrange as row not in coloun */
    flex-direction: column ;                     /* Change flex direction form row to colum*/

}

#container2{
    height: 300px;
    width: 50%;
    background-color: white;
    margin: 10px auto;                          /* auto menas center here*/
    border: 2px solid black;
    display: flex;                              /* Use for arrange all div in one parent div element & By default div arrange as row not in coloun */
    flex-direction: row-reverse ;                     /* Change flex direction form row to colum*/
    justify-content: flex-end;
}