#container{
    height: 300px;
    width: 80%;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;                              /* Use for arrange all div in one parent div element & By default div arrange as row not in coloun */
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}