<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table, th, td {
            border: 1px solid black; /* Corrected border declaration */
            border-collapse: collapse; /* Optional: to collapse table borders */
            padding: 8px; /* Optional: add padding to cells */
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th> 
            <th>Email</th>
            <th>Username</th>
            </td>
        </tr>    
            <% for(user of users){ %>
                <tr>
                    <td> <%= user.id %> </td>
                    <td> <%= user.email %> </td>
                    <td> <%= user.username %> </td>
                </tr>
            <% } %>
    </table>
</body>
</html>

