<style>
  .btn-search{
    background: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding :0 1rem 0 1rem;
  }
  .btn-search:hover{
    background: #fe424d;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .btn-search{
    border-radius: 25px;
    padding:  0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  } 
</style>  
  
  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">       <!-- sticky-top => stick navbar to top -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="#">Home</a> -->
          <a class="nav-link" href="/listings">Explore</a>
      
        </div>
        <div cLASS="navbar-nav me-2">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" aria-label="Search"/>
            <button class="btn btn-search" type="submit">Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your Home</a>
          <% if(!currUser) { %>                 
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>log in</b></a>
          <% } %>
          <% if(currUser) { %>    
          <a class="nav-link" href="/logout"><b>log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>