#container{
    height: 400px;
    width: 700px;
    display: grid;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    background-color: pink;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:  repeat(12,1fr);
    grid-gap: 10px;
    font-size: 1.5rem;
}

.header{
   grid-column: 1/13;
}

.sidebar{
    grid-column: 1/4;
    grid-row: 2/12;
}

.navigation{
    grid-column: 4/10 ;
    grid-row: 2/3;
}

.ads{
    grid-column: 10/13 ;
    grid-row: 2/12;;
}

.main{
    grid-column: 4/10  ;
    grid-row: 3/12;
}



.footer{
    grid-column: 1/ span 12 ;
}