<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h3>Dice gave value <%= diceVel %></h3>         <!---- value coming from database with ejs call --> 

    <% if (diceVel == 6){ %>                        <!-- Conditional statement with EJS -->
        <h2>Nice roll dice again </h2>
        <% } else {%>
            <h2>try  again </h2>
            <% } %>
</body>
</html>
