.loader {
    width: 120px;
    height: 120px;
    border: 16px solid black;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    
    animation: spin 2s linear infinite; 
    }

    @keyframes spin {
    0% {

        transform: rotate(0deg);
    }
    100% {
    
        transform: rotat
        e(360deg);
    }
    }