*{
    font-family: 'Courier New', Courier, monospace;
    /* background-color: brown; */
}

h1 ,h3 ,h2, p{
    color: purple;
}

/* 
h3{
    color: rgb(92, 128, 0);
} */

#login{                                                          /*       ID's are use with # operator    */
    color: brown;
    background-color: blue;
}

#signup{
    color: brown;
    background-color: blue;
}

 .Vat{                                                          /*       classes are use with . operator    */
    color: rgb(43, 226, 67);
}

#myid p{                                                        /*       For all <p> its purpel but for myid p it will be yellow bz we mentation  */
    color: darkslategray;
}

                                                                            /* Descendent selectot */
.post a{
    color: red;
    background-color: aquamarine;
}

nav ul li a{
      color: pink;
}
                                                                            /* After <p> all <h3> tag will change or call in this css */
p + h3{                                             
    color: mediumslateblue;
    text-decoration:underline;
}

.Vat + button{
    background-color: brown;
    color: #000;
}

div > input{                        
    background-color: gray;
    color: white;
} 

input [type ="text"]{                                                       /* Change the text  for specific input type */
    color:  red;
}

input [type ="password"]{                                                   /* Change the Password for specific input type */
    color: springgreen;
} 

input [type ]{
    color: springgreen;
} 

button:hover{                                                                /* change color of button according to cursor */ 
    background-color: black;
    color: white;
}

h3:hover{                                                                   /* change color of Text  according to cursor */ 
    text-decoration: none;                                                   /* remove underline according to cursor */ 
}

button:active{                                                                /* change color of button color when clickon it  */ 
    background-color: orange;
    color: black;
}

p : active{                                                                 /* change color of [p] color when clickon it  */
    font-weight: bold;
    background-color: teal;
}

input[type = "radio"]:checked + label {                                     /* change color of ratio button/ checkbox color when clickon it  */
    color: red;
    font-weight: bold;
}

div:nth-of-type(3n ){                                                       /* change div or class color base on no or nth no.  */
    background-color: red;
}

h1::first-letter{
    color: #000 ;
}

p::first-line{
    color: green;
}

p::selection{
    color: yellowgreen;
}